<h3>Welcome, <%=@user.username%>!</h3><br>

<h3>Recipe Index:</h3>

<div class='box'>
    <%= render partial: 'recipes/index', locals: {all_recipes: @recipes, current_user: @user} %>  

    <br></br>

    <button class="js-user-recipes" data-id="<%= @user.id %>">Show Your Recipes</button><br />

    <ul id="show-user-recipes">
    </ul>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
    $(".js-user-recipes").on("click", function() {
        let id = $(this).data("id");
        $.get("/users/" + id + ".json", function(data) {
            console.log(data);
            let user_recipes = "";
            if (data["recipes"].length > 0) {
                data["recipes"].forEach(function(recipe) {
                    user_recipes += '<li><a href="/recipes/' + recipe["id"] + '">' + recipe["name"] + '</a></li><br />';
                })
            } else {
                user_recipes = "You have no recipes."
            }
            $("#show-user-recipes").html(user_recipes);
        });
    });
});
</script>